/*
 * @Author      changbin.wangcb
 * @Date        2013.04.15
 * @Description content
 */

a:link, a:visited {
    color: #333;
}
a:hover {
    color: #ff7300;
}
#content {
    margin-top: 53px;
    width: 100%;
}
.content-inner {
    background-color: #efefef;
    padding: 10px 20px;
}

/* 有侧边导航的 */
.snippet .content-inner {
    margin-right: 240px;
}

.content-inner > section > header h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Microsoft Yahei';
    color: #1f4661;
}
.content-inner > section > article {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dadada;
    box-shadow: 0 2px 0 rgba(0,0,0,0.04);
}
.content-inner > section > article:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.content-inner > section > article:hover {
    border-color: #005580;
}
.content-inner > section > article.unstyle {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
}
.content-inner > section > article > h3 {
    font-size: 16px;
    color: #666;
    font-family: 'Microsoft Yahei';
}

/* codemirror */
.content-inner .CodeMirror pre {
    line-height: 1.5;
    font-size: 12px;
}

/* intro-list */
.content-inner .intro-list li {
    float: left;
    margin: 5px 1px;
    height: 200px;
    width: 320px;
}

/* video */
.content-inner .video {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 35px;
    width: 640px;
    border: 1px solid #94a3ac;
}
.content-inner .video video {
    width: 640px;
}
.content-inner .video .action {
    position: absolute;
    background-color: #fff;
    padding: 0 10px;
    width: 80px;
    height: 30px;
    bottom: -15px;
    left: 270px;
}
.content-inner .video .action li {
    line-height: 30px;
    text-align: center;
}