/*
 * @Author      changbin.wangcb
 * @Date        2013.05.06
 * @Description 页面维护更新
 */

#page-update {
	margin: 50px auto 0;
	padding: 10px;
	width: 600px;
    height: 300px;
    border: 1px solid #808080;
}
#page-update .metro-animate {
	float: left;
	position: relative;
	margin-right: 40px;
	width: 300px;
	height: 300px;
}
#page-update .info {
	float: left;
	margin-top: 100px;
	height: 100px;
	width: 260px;
	font-family: "\5FAE\8F6F\96C5\9ED1",
				 "\9ED1\4F53",
				 "\6587\6CC9\9A7F\6B63\9ED1\4F53",
				 "\534E\6587\7EC6\9ED1";
	font-weight: 400;
}
#page-update .info p {
	font-size: 14px;
}
#page-update .metro-animate .item {
	float: left;
	height: 100px;
	width: 100px;
	background-color: #0be; /* 2bc 49f */
}
#page-update .metro-animate .txt {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1",
				 "\9ED1\4F53",
				 "\6587\6CC9\9A7F\6B63\9ED1\4F53",
				 "\534E\6587\7EC6\9ED1";
	font-weight: 400;
}

@keyframes item1st {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item1st {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item1st {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item1st {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item2nd {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item2nd {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item2nd {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item2nd {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item3rd {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item3rd {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item3rd {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item3rd {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item4th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item4th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item4th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item4th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item5th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item5th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item5th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item5th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item6th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item6th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item6th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item6th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item7th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item7th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item7th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item7th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item8th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item8th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item8th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item8th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

@keyframes item9th {
	0%   { background: #0be; transform: rotateX(0deg); }
	5%   { transform: rotateX(90deg); }
	10%  { background: #2bc; transform: rotateX(180deg); }
	40%  { transform: rotateX(180deg); }
	45%  { transform: rotateX(270deg); }
	50%  { background: #49f; transform: rotateX(360deg); }
	65%  { transform: rotateX(360deg); }
	70%  { transform: rotateX(270deg); }
	75%  { background: #67f; transform: rotateX(180deg); }
	90%  { transform: rotateX(180deg); }
	95%  { transform: rotateX(90deg); }
	100% { background: #0be; transform: rotateX(0deg); }
}

@-moz-keyframes item9th {
	0%   { background: #0be; -moz-transform: rotateX(0deg); }
	5%   { -moz-transform: rotateX(90deg); }
	10%  { background: #2bc; -moz-transform: rotateX(180deg); }
	40%  { -moz-transform: rotateX(180deg); }
	45%  { -moz-transform: rotateX(270deg); }
	50%  { background: #49f; -moz-transform: rotateX(360deg); }
	65%  { -moz-transform: rotateX(360deg); }
	70%  { -moz-transform: rotateX(270deg); }
	75%  { background: #67f; -moz-transform: rotateX(180deg); }
	90%  { -moz-transform: rotateX(180deg); }
	95%  { -moz-transform: rotateX(90deg); }
	100% { background: #0be; -moz-transform: rotateX(0deg); }
}

@-webkit-keyframes item9th {
	0%   { background: #0be; -webkit-transform: rotateX(0deg); }
	5%   { -webkit-transform: rotateX(90deg); }
	10%  { background: #2bc; -webkit-transform: rotateX(180deg); }
	40%  { -webkit-transform: rotateX(180deg); }
	45%  { -webkit-transform: rotateX(270deg); }
	50%  { background: #49f; -webkit-transform: rotateX(360deg); }
	65%  { -webkit-transform: rotateX(360deg); }
	70%  { -webkit-transform: rotateX(270deg); }
	75%  { background: #67f; -webkit-transform: rotateX(180deg); }
	90%  { -webkit-transform: rotateX(180deg); }
	95%  { -webkit-transform: rotateX(90deg); }
	100% { background: #0be; -webkit-transform: rotateX(0deg); }
}

@-o-keyframes item9th {
	0%   { background: #0be; -o-transform: rotateX(0deg); }
	5%   { -o-transform: rotateX(90deg); }
	10%  { background: #2bc; -o-transform: rotateX(180deg); }
	40%  { -o-transform: rotateX(180deg); }
	45%  { -o-transform: rotateX(270deg); }
	50%  { background: #49f; -o-transform: rotateX(360deg); }
	65%  { -o-transform: rotateX(360deg); }
	70%  { -o-transform: rotateX(270deg); }
	75%  { background: #67f; -o-transform: rotateX(180deg); }
	90%  { -o-transform: rotateX(180deg); }
	95%  { -o-transform: rotateX(90deg); }
	100% { background: #0be; -o-transform: rotateX(0deg); }
}

#page-update .metro-animate .item-1st {
	animation-name: item1st;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item1st;
	-moz-animation-duration: 20s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item1st;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item1st;
	-o-animation-duration: 20s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 2s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-2nd {
	background-color: #49f;
	animation-name: item2nd;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-delay: 10s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item1st;
	-moz-animation-duration: 18s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 10s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item1st;
	-webkit-animation-duration: 18s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 10s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item1st;
	-o-animation-duration: 18s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 10s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-3rd {
	animation-name: item3rd;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-delay: 14s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item3rd;
	-moz-animation-duration: 18s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 14s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item3rd;
	-webkit-animation-duration: 18s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 14s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item3rd;
	-o-animation-duration: 18s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 14s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-4th {
	background-color: #49f;
	animation-name: item4th;
	animation-duration: 24s;
	animation-timing-function: linear;
	animation-delay: 6s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item4th;
	-moz-animation-duration: 24s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 6s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item4th;
	-webkit-animation-duration: 24s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 6s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item4th;
	-o-animation-duration: 24s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 6s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-5th {
	animation-name: item5th;
	animation-duration: 16s;
	animation-timing-function: linear;
	animation-delay: 26s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item5th;
	-moz-animation-duration: 16s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 26s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item5th;
	-webkit-animation-duration: 16s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 26s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item5th;
	-o-animation-duration: 16s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 26s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-6th {
	animation-name: item6th;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-delay: 18s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item6th;
	-moz-animation-duration: 30s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 18s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item6th;
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 18s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item6th;
	-o-animation-duration: 30s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 18s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-7th {
	animation-name: item7th;
	animation-duration: 26s;
	animation-timing-function: linear;
	animation-delay: 15s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item7th;
	-moz-animation-duration: 26s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 15s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item7th;
	-webkit-animation-duration: 26s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 15s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item7th;
	-o-animation-duration: 26s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 15s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-8th {
	animation-name: item8th;
	animation-duration: 28s;
	animation-timing-function: linear;
	animation-delay: 17s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item8th;
	-moz-animation-duration: 28s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 17s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item8th;
	-webkit-animation-duration: 28s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 17s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item8th;
	-o-animation-duration: 28s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 17s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}

#page-update .metro-animate .item-9th {
	background-color: #49f;
	animation-name: item9th;
	animation-duration: 27s;
	animation-timing-function: linear;
	animation-delay: 21s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: item9th;
	-moz-animation-duration: 27s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 21s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: item9th;
	-webkit-animation-duration: 27s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 21s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: item9th;
	-o-animation-duration: 27s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 21s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}