!!!5
html
  head
    <!-- based on express -->
    title #{title} --by chunterg
    link(href='#{siteUrl}css/codemirror.css', rel='stylesheet')
    style
      body{font-family:Courier;}
      .form-field{margin-bottom:10px;}
      .lw-post label.form-field-left{
        vertical-align:top;
        float:left;
      }
      .lw-post fieldset{
        margin-bottom:10px;
      }
      .area{
        width:80%;
      }
      .area,.field{
        margin-left:100px;
      }
      .area,input[type=text]{
        font-family:Courier;
        padding:4px;
        border:1px solid #ccc;
      }
    script(src='http://style.china.alibaba.com/fdevlib/js/fdev-v4/core/fdev-min.js')
  body
    //div.header public header
      
    block content
    //div.footer public footer

  script(src='#{siteUrl}js/codemirror.js')
  script(src='#{siteUrl}js/javascript.js')
  script(src='http://xms.alibado.com/xms/common/js/codemirror/mode/css/css.js')
  script(src='http://xms.alibado.com/xms/common/js/codemirror/mode/xml/xml.js')  
  script(src='http://xms.alibado.com/xms/common/js/codemirror/mode/htmlmixed/htmlmixed.js')
  script
    jQuery('textarea.code').each(function(){
        var _mode = jQuery(this).attr('data-type')||'text/html'
        var editor = window.CodeMirror.fromTextArea(jQuery(this)[0], {
         mode:_mode,
         indentWithTabs:true,
         indentUnit:4,
         lineNumbers:true,
         lineWrapping:true
       });
      })
